# GETTING STARTED

## Identifiers

Identifiers are used to identify program elements such as variables, functions, modules, classes, objects, etc.

### Rules for naming

1. The first character should be a letter or an underscore
2. The rest of the characters can be any combination of letters (A to Z or a to z), digits (0 to 9) and underscores only. Special characters like @, %, $, #, & are not allowed
3. There is no limit on the length of an identifier
4. They are case-sensitive
5. They should be meaningful

### Keywords

Keywords are the reserved words of a language having a specific purpose and predefined meaning so they cannot be used for naming program elements.

They can be displayed using help:
```
help('keywords')
```

They are  as follows:

False, class, from, or, None, continue, global, pass, True, def, if, raise, and, del, import, return, as, elif, in, try, assert, else, is, while, async, except, lambda, with, await, finally, nonlocal, yield, break, for and not.

## Python Types

### Data type

A data type or simply type represents a domain of values and a set of possible operations that can be performed on those values.

The data types that are predefined in Python are called built-in data types. Some of them are:
```
int float complex str bool list tuple set dict
```

### Literal

A literal is a notation for a constant value of some built-in type. it can be a number or some text that appears in a program. For example:
```
12   35.2   'hello'   True
```
In this example, 12 is a literal of type int, 35.2 is a literal of type float, 'hello' is a literal of type str and True is a literal of type bool.

### Integers

Whole numbers without decimal point.
```
x = 10
y = -25
z = 0
```

Python also supports different bases:
```
# Binary (Prefix 0b or 0B)
a = 0b11000011
# Octal (Prefix 0o or 0O)
b = 0o12
# Hexadecimal (Prefix 0x or 0X)
c = 0xA
```

### Floating-point

Numbers with a decimal and an optional exponent represented by e or E.
```
pi = 3.14
temp = -0.5
a = 7.32e42
b = 6.5E-24
```

### Complex

Numbers used in scientific applications having a real part and an imaginary part denoted by the suffix j or J.
```
x = 3 + 5j
y = 2 + 4j
z = 3 - 6j
```

### String

Sequence of characters enclosed in quotes.
```
name = 'Python'
msg = "Hello, World!"
text = """This is a
multiline string"""
```

### Boolean

Represent truth value either True or False.
```
flag = False
```

### None

Represents the absence of a value or a null value.
```
result = None
```

### type()

It is a built-in function used to check the type of any value.

In [4]:
type(23)

int

In [5]:
type(True)

bool

In [6]:
type(3.14)

float

In [7]:
type('hello')

str

In [8]:
type(None)

NoneType

## Objects

Everything in Python (Values like a number or string, functions, classes, modules, etc.) is implemented as an object. It is a chunk of memory used to store some data. That is, objects are abstraction for data.

Whenever we write any literal value in our program, Python identifies its type because of its notation and creates an object of the appropriate type. For example,
* If we write the literal 56, Python recognizes it as an integer literal and creates an object of type int
* If write the literal 'Hello', Python recognizes it as a string literal and creates an object of type str

Python uses objects to hold data values. Every object has a type, a value and an identity.
* The value of an object is the data that it contains
* The type of an object determines what kind of operations can be performed on the value
* The identity (id) of an object is an integer that is guaranteed to be unique among simultaneously existing objects. An object is stored in memory and typically, the identity of an object is the memory address of that object. The built-in id() function is used to get the identity of object

## Variables and assignment statement

Python uses objects to store values. If we want to work with a value later on in the program, we can associate a name with the object that contains the value. Hence, object contain values and to access objects and manipulate them in the program, we create names and bind them to objects.

### Variables

Variables are the names that refer or point to objects. The actual data is contained in the objects. Variables can be thought of as object references.

Variables are created using the assignment statement as follows:
```
x = 56
```
When this statement is executed, Python creates an object of type int with value 56. It also creates a variable named x which will refer to this object. After this, whenever x appears in an expression, it will be substituted with the value of object, that is, 56.

Note: The print() statement is used to display on the output screen.

In [1]:
x = 56
print(x)
print(type(x))
print(id(x))

56
<class 'int'>
140732241105048

If we create different variables with the same value, they all refer to the same object. This is know as object sharing or aliasing.

In [2]:
x = 5
y = x
z = y
print(id(x))
print(id(y))
print(id(z))

140732241103416
140732241103416
140732241103416

Any variable can be made to refer another value.

In [3]:
a = 10
print(id(a))
a = 20
print(id(a))

140732241103576
140732241103896

Variables have no type associated with them as they are just names, and they can refer to any type of object. This is why Python is called a dynamically typed language. Also, there is no need to define the type of variable before using it.

In [4]:
var = 10
print(type(var))
var = 3.14
print(type(var))
var = 5 + 3j
print(type(var))

<class 'int'>
<class 'float'>
<class 'complex'>

## Multiple and Pairwise Assignments

Multiple variables can be assigned simultaneously with a common value and all of them will refer to the same object.

In [5]:
a = b = c = 25
print(a, b, c)
print(type(a), type(b), type(c))
print(id(a), id(b), id(c))

25 25 25
<class 'int'> <class 'int'> <class 'int'>
140732241104056 140732241104056 140732241104056

Pairwise assignment of variables can be done using commas. For this, the number of variables on the left side should be equal to the number of values on the right side.

In [6]:
x, y, z = 30, 9.8, 'hello'
print(x, y, z)
print(type(x), type(y), type(z))
print(id(x), id(y), id(z))

30 9.8 hello
<class 'int'> <class 'float'> <class 'str'>
140732241104216 2283398139920 2283018099360

## Deleting a name

The del statement can be used to delete a variable name. It consists of the del keyword followed by the name that has to be deleted. For example,
```
x = y = z = 25
del x
```
This statement will unbind x from the object and also delete the name x. It will not delete the object. An object is automatically garbage collected by Python if there is no name referring to it.

We can use the delete statement to delete more than one name by using commas.
```
del x, y, z
```

Note: The del statement is used very rarely; variable names have a lifetime, and they are deleted automatically when their lifetime is over.

## Naming convention for constants

In some languages, we can define names which cannot be reassigned. Once they are given a value, they cannot be changed throughout the execution of the program. They are called constants

In Python, there is no concept of constants; there is no way to define names that cannot be reset to a different value. All names in Python can be reassigned at any time.

However, there is a widely used naming convention to indicate that you do not want a name to be reassigned. The convention is to use all capital letters with underscores to separate words. For example,
```
PI = 3.14159
MAXIMUM_SIZE = 100
RATE_OF_INTEREST = 5.5
```
Note: By using all caps, you are not instructing the interpreter that it is a constant; you are telling the programmer that it should be treated as a constant and should not be changed.

## Operators

An operator is a symbol or a word that specifies an operation to be performed.

An operator works on operand and yields a value.

An operand is data item on which an operator acts which can be a literal value or a variable.

### Arithmetic operators

Arithmetic operators are used to perform mathematical operations.

**Addition (+)**

Adds its operands

In [10]:
5 + 3

8

**Subtraction (-)**

Subtracts right operand from left operand

In [11]:
5 - 3

2

**Multiplication**

Multiplies its operands

In [12]:
5 * 3

15

**True division**

Divides left operand by right operand and returns a float

In [13]:
5 / 3

1.6666666666666667

**Floor division**

Divides left operand by right operand and return an integer which is the floor value of result

In [14]:
5 // 3

1

**Modulo**

Return the remainder when left operand is divided by right operand

In [15]:
5 % 3

2

**Exponentiation**

Returns left operand raised to the power of right operand

In [16]:
5 ** 3

125

### Relational operators

Relational operators, also called comparison operators, compare their operands and return either True or False.

**equal to (==)**

Returns True if its operands are equal, otherwise False

In [17]:
5 == 5

True

In [18]:
5 == 3

False

**not equal to (!=)**

Returns True if its operands are not equal, otherwise False

In [19]:
5 != 3

True

In [20]:
5 != 5

False

**less than (<)**

Returns True if left operand is less than right operand, otherwise False

In [21]:
3 < 5

True

In [22]:
5 < 3

False

**greater than (>)**

Returns True if left operand is greater than right operand, otherwise False

In [23]:
5 > 3

True

In [24]:
3 > 5

False

**less than or equal to (<=)**

Returns True if left operand is less than or equal to right operand, otherwise False

In [29]:
3 <= 5

True

In [28]:
5 <= 5

True

In [30]:
5 <= 3

False

**greater than or equal to (>=)**

Returns True if left operand is greater than or equal to right operand, otherwise False

In [31]:
5 >= 3

True

In [32]:
5 >= 5

True

In [33]:
3 >= 5

False

### Logical operators

Logical operators are used to combine boolean values and are applied when operands have the values of True or False or to operands which can be converted to these values.

**Logical AND (and)**

Determines whether both its operands are True

In [1]:
True and True

True

In [2]:
True and False

False

In [3]:
False and True

False

In [4]:
False and False

False

**Logical OR (or)**

Determines whether one of its operands is True

In [5]:
True or True

True

In [6]:
True or False

True

In [7]:
False or True

True

In [8]:
False or False

False

**Logical NOT (not)**

Negates the value of its operand

In [9]:
not True

False

In [10]:
not False

True

### Identity operators

Identity operators are used to check whether two variables refer to the same object

**is**

Returns True if identity of left and right operand is same, otherwise False

In [11]:
a = 12345
b = a
a is b

True

In [12]:
a = 12345
b = 12345
a is b

False

In [15]:
c = 2
d = 2
c is d

True

Note: We get different result here because, for small integers (and small strings), Python performs optimization and maintains a cache; it does not create a new object. However, for big literals, it will create separate objects.

**is not**

Returns True if identity of left and right operands is not same

In [13]:
a = 12345
b = a
a is not b

False

In [14]:
a = 12345
b = 12345
a is not b

True

### Membership operators

Membership operators look for the left operand in the collection represented by the right operand and return True or False accordingly.

**in**

Returns True if the left operand is present in the right operand

**not in**

Returns True if the left operand is not present in the right operand

### Bitwise

Bitwise operators operate on individual bits in the binary representation of their integer operands.

**Bitwise AND (&)**

Resulting bit is 1 only when the bits in both operands are 1, otherwise 0

**Bitwise OR (|)**

Resulting bit is 0 only when the bits in both operands are 0, otherwise 1

**Exclusive OR (^)**

Resulting bit is 1 if bits of both operands have different vale, otherwise 0

**One's complement (~)**

Unary operator that flips the bits of its operands

**Left shift (<<)**

Bits in left operand are shifted to the left by the number denoted by right operand

**Right shift (>>)**

Bits in left operand are shifted to the right by the number denoted by right operand

## Augmented assignment statements

Augmented assignment statements are used in those cases when we perform some mathematical binary operation on a variable and then assign the result back to the variable.

**Shorthand addition (+=)**

The expression x += y is evaluated as x = x + y

In [16]:
x = 10
x += 5
x

15

**Shorthand subtraction (-=)**

The expression x -= y is evaluated as x = x - y

In [17]:
x = 10
x -= 5
x

5

**Shorthand multiplication (*=)**

The expression x *= y is evaluated as x = x * y

In [18]:
x = 10
x *= 5
x

50

**Shorthand true division (/=)**

The expression x /= y is evaluated as x = x / y

In [19]:
x = 10
x /= 5
x

2.0

**Shorthand floor division (//=)**

The expression x //= y is evaluated as x = x // y

In [20]:
x = 10
x //= 5
x

2

**Shorthand modulo (%=)**

The expression x %= y is evaluated as x = x % y

In [21]:
x = 10
x %= 5
x

0

**Shorthand exponentiation (\*\*=)**

The expression x **= y is evaluated as x = x ** y

In [22]:
x = 10
x **= 5
x

100000

## Expressions

An expression is a combination of variables, literals and operators. It always evaluates to a single value, which is again represented by an object. For example,
```
45 + 6
20.56 - 3 * 6
marks + 50
2 + 4 * 3
(y + 1) * (x - 3)
a <= b
35
age
```

## Operator Precedence and Associativity

In Python, there are some rules that are followed while evaluating expressions with multiple operators. The order of evaluation depends on the precedence of an operator. Following is the precedence of common operators from highest to lowest:
1. Exponentiation (**)
2. Positive, negative, bitwise NOT (+x, -x, ~x)
3. Multiplication, true division, floor division, remainder (*, /, //, %)
4. Addition, subtraction (+, -)
5. Left shift, right shift (<<, >>)
6. Bitwise AND (&)
7. Bitwise XOR (^)
8. Bitwise OD (|)
9. Membership tests, identity tests, comparisons (in, not, is, is not, <, <=, >, >=, !=, ==)
10. Boolean NOT (not)
11. Boolean AND (and)
12. Boolean OR (or)

Note:
* Associativity of all operators is from left to right, except exponentiation for which it is from right to left
* To override these rules and change the default evaluation order, parentheses can be used which are evaluated first
* In case of nested parentheses, innermost are executed first

## Type conversion

The process of converting a value of one type to another type is called type conversion. It is of two types:
1. Implicit type conversion (Coercion)
2. Explicit type conversion (Casting)

### Implicit type conversion

It is done automatically by the interpreter when evaluating expressions of mixed types.

For example,
```
x = 2 * 3.5
```
In this example, the interpreter will first convert integer 2 to the floating point equivalent 2.0, and then float operands will be multiplied, and the result will be a float.

The interpreter always promotes the smaller type to the larger type to avoid any loss of data. It then performs the operation in larger type and returns the result in larger type.

In [36]:
2 * 3.5

7.0

### Explicit type conversion

It is done manually by the programmer by writing the required type name followed by the value to be converted inside parentheses.

For example,
```
x = int('2')
```
In this example, the interpreter will convert string '2' to integer equivalent 2

#### int()

int() converts a numerical string to an integer

In [33]:
int('100')

100

int() truncates the decimal part in float

In [38]:
int(3.14)

3

int() converts True to 1 and False to 0

In [35]:
int(True)

1

int() function cannot convert a string to an integer if the string does not represent a valid integer value

In [37]:
int('two')

ValueError: invalid literal for int() with base 10: 'two'

int() function can convert a string to an integer if the string represents a number in hexadecimal, octal or binary base. In this case, we have to inform the int() function about the base.

In [39]:
int('FF', 16)

255

In [40]:
int('17', 8)

15

In [41]:
int('1010', 2)

10

#### str()

str() function converts a numerical value to str type

In [42]:
str(100)

'100'

In [43]:
str(3.14)

'3.14'

#### float()

float() converts an integer to float

In [34]:
float(10)

10.0

float converts numerical string to float

In [44]:
float('100')

100.0

## Statements

A program is a sequence of statements, and a statement is an instruction that the Python interpreter can execute.

Statements can be simple or compound. Statements like a = 5, x *= 10, y = a + b, etc. are simple statement. Compound statements like if, while, for, etc. are a group of statements that are treated as a single statement.

In Python, the end of the line means the end of the statement. That is, Python uses newline as a statement terminator.

However, if there is a backslash at the end of the line, then the statement continues on the next line. This is called explicit line joining or explicit continuation. For example,
```
total_marks = science_marks + maths_marks + \
              english_marks + socials_marks + \
              grace_marks
```
Also, a statement does not end with a newline when an opening delimiter like parentheses, square brackets or curly braces has not been closed yet. This is called implicit line joining or implicit continuation. For example,
```
months = [
        'January', 'February', 'March', 'April',
        'May', 'June', 'July', 'August',
        'September', 'October', 'November, 'December'
]
```
Note: An exception to this is when there is an unterminated string literal enclosed in single or double quotes. For example,
```
print('Age should be less than 80
       and greater than 18')
```

Multiple statements can be placed on a single line by separating the statements with semicolon. For example,
```
a = 10; x = 5; y = a + x; z = a - y
```
Note: This style is not recommended as writing single statement on each line is preferred to make the code more readable and easier to understand

## Printing output

In Python, the print() function is used to display the output on the console like a literal, the value of an expression or variables.

In [46]:
print('Let us start programming!')
print(5 + 3 * 6)
name = 'John'
age = 10
print(name)
print(age)

Let us start programming!
23
John
10

Multiple items can be displayed using a single print by separating the items with commas.

In [47]:
name = 'John'
age = 10
print(name, age)
print("Name:", name)
print("Age:", age)
print("5 times 6 is", 5 * 6)
print("My name is", name, "and I will be an adult after", 18 - age, "years")

John 10
Name: John
Age: 10
5 times 6 is 30
My name is John and I will be an adult after 8 years

When we use print() function to display multiple items, all the items are separated by a single space in the output by default. This default behavior can be changed by specifying the separator using sep parameter at the end of print call.

In [48]:
day = 15
month = 8
year = 1947
print(day, month, year, sep='/')

15/8/1947

Every print() call ends with a newline by default. If we want the print call to end with something else instead of a newline, we can specify the end parameter.

In [49]:
print('Hello world', end='---')
print('Python is easy', end=' ')
print('Python is interesting!', end='')
print('Programming is fun')
print('Good bye')

Hello world---Python is easy Python is interesting!Programming is fun
Good bye

You can write a print() call with empty parentheses to insert an empty line in the output.

In [50]:
print('Let us start programming!')
print()
print()
print('Python is interesting')

Let us start programming!


Python is interesting

## Getting user input

In Python, the input() function is used to get keyboard input from the user. When the input() function executes, the program is paused, and the user is expected to enter some text on the screen.

In [54]:
print('Enter your name: ')
name = input()
print('Name:', name)

Enter your name:
Name: Chaitanya

input() function is also capable of displaying the prompt. Hence, writing a separate print function for the prompt is not required; we can place the prompt inside the parentheses of input function.

In [55]:
name = input('Enter your name: ')
print('Name:', name)

Name: Chaitanya

By default, the input() takes input as a string. To take input of other types, we can explicitly type cast using int(), float(), etc.

In [56]:
salary = int(input('Enter your salary: '))
print('Initial salary:', salary)
salary += 200
print('Final salary:', salary)

Initial salary: 1000
Final salary: 1200

## Complete programs

I. Write a program that enters two numbers and displays their sum, difference and product.

In [57]:
n1 = int(input('Enter first number: '))
n2 = int(input('Enter second number: '))
print('Sum:', n1 + n2)
print('Difference:', n1 - n2)
print('Product:', n1 * n2)

Sum: 14
Difference: 6
Product: 40

II. Write a program that enters height in inches and displays it in feet and inches.

In [58]:
height = int(input('Enter the height in inches: '))
feet = height // 12
inches = height % 12
print(feet, 'feet', inches, 'inches')

5 feet 6 inches

III. Write a program that inputs the length and breadth of a rectangle and displays its area, perimeter and length of the diagonal.

In [59]:
length = int(input('Enter the length of rectangle: '))
breadth = int(input('Enter the breadth of rectangle: '))
area = length * breadth
perimeter = 2 * (length + breadth)
diagonal = ((length * length) + (breadth * breadth)) ** 0.5
print('Area:', area)
print('Perimeter:', perimeter)
print('Diagonal:', diagonal)

Area: 200
Perimeter: 60
Diagonal: 22.360679774997898

IV. Write a program that prompts the user to enter the values of principal, rate of interest and time. Using these values, compute simple interest and compound interest.

In [60]:
principal = float(input('Enter the principal: '))
rate = float(input('Enter the rate: '))
time = int(input('Enter the time: '))
simple_interest = principal * rate * time / 100
print("Simple interest:", simple_interest)
compound_interest = (principal * (1 + rate / 100) ** time) - principal
print("Compound interest:", compound_interest)

Simple interest: 15.0
Compound interest: 15.762500000000017

V. Write a program that prompts the user to enter a student name and marks in 3 subjects. Calculate the percentage marks and display the student's name with the percentage.

In [61]:
name = input('Enter name: ')
math = int(input('Enter marks obtained in Mathematics: '))
phy = int(input('Enter marks obtained in Physics: '))
chem = int(input('Enter marks obtained in Chemistry: '))
total = math + phy + chem
percentage = (total / 300) * 100
print(name, percentage)

Chaitanya Kunjar 94.0

## Comments

A comment is a piece of text that is inserted in between the code to explain the purpose of your code to other programmers or to yourself.

Code that is properly documented with comments makes program more readable and understandable, so it is easier to maintain and update.

Comments are written only for human readers; they are ignored by the interpreter, so they have no effect on the execution of the program.

Single line comment:
```
# This is a comment
```
Multi-line comments:
```
# This is a multi line comment
# This is a multi line comment
# This is a multi line comment
```

## Indentation in Python

Python uses indentation for grouping statements to form code blocks. Continuous statements with the same indentation belong to the same code block. Higher levels of indentation indicate nested code blocks.

Unlike other languages, Python does not use curly braces or words like begin and end to define boundaries for blocks of code.

Indentation is widely used in different compound statements such as if-else, for, while, def, etc.

## Container types

Python has some built-in data structures or collections types such as lists, tuples, dictionaries and sets. These are also called containers, as they provide a way of combining and organizing data. These data structures are used to hold different types of objects.

For example,
```
# Lists (type list)
[1, 2, 3, 4, 5]
# Tuples (type tuple)
(1, 2, 3, 4, 5)
# Dictionaries (type dict)
{'a' : 1, 'b' : 2, 'c' : 3}
# Sets (type set)
{1, 2, 3, 4, 5}
```

Description:
* List = Ordered and mutable collection of items
* Tuple = Ordered but immutable collection of items
* Dictionary = Stores data in key-value pairs
* Set = Unordered collection of unique items

## Mutable and immutable types

An object has a type, id and a value. The type and id of an object remains the same throughout the program. However, whether the value can be changed or not depends on its mutability.

**Mutable data types**

A mutable object can be modified after it is created. You can change, add or remove elements without creating a new object. It includes list, set, dict and bytearray.

**Immutable data types**

An immutable object cannot be modified after it is created. Any modification creates a new object. It includes int, float, str, tuple, bool and frozenset.

## Functions and methods

**Function**

A function is a reusable piece of code with a name, and it can perform certain operations for you.

You can give it some values called arguments; it performs some work for you, and it might give you a value back.

The built-in functions are the functions that are already written for us and are always available for use like print, input, type and id. Some more examples of built-in functions:
* abs(x) = Returns absolute value of x
* bin(x) = Returns binary equivalent of x
* oct(x) = Returns octal equivalent of x
* hex(x) = Returns hexadecimal equivalent of x
* max(a, b, c, ...) = Returns maximum value among provided arguments
* min(a, b, c, ...) = Returns minimum value among provided arguments
* len(Collection) = Returns the length (Total number of elements) of a list, tuple, dictionary or set

**Method**

A method is like a function, but it is specific to a type, and we access it by using a dot.

To call a method, we write the variable name or a literal followed by a dot, then the method name, and then parentheses, which can include arguments.

For example,
```
'hello'.upper()
my_list.append(10)
```
In this example, we are calling the method upper on a string literal, and we are calling the method append on a variable named my_list which refers to a list object.

## Importing

There are many pre-defined functions in the standard library that we can use in our program, but unlike built-in functions, these functions are not automatically available in our program.

These functions are organized in modules (Python files), and we have to import them to make them available in our program.

For example,
```
from math import sqrt, trunc
x = 34
y = 23.4
print(sqrt(x))
print(trunc(y))
```
In this example, we are importing and using only sqrt and trunc functions from the math module.

Also, in the following example,
```
import math
x = 34
y = 23.4
print(math.sqrt(x))
print(math.trunc(y))
```
In this example, we are importing entire module math, that is, all names in it can be used in the program, but they have to be preceded by module name and a dot.