#GETTING STARTED WITH PYTHON PROGRAMMING LANGUAGE
1. Python Basics
  * Syntax
  * Semantics
  * Comments in Python
  * Basic syntax and semantics rules in Python
2. Variables in Python
  * Definition
  * Naming conventions
  * Type checking
  * Type conversion
  * Dynamic typing
3. Datatypes in Python
  * Definition, importance and types
  * Input
4. Operators in Python
  * Definition and types
  * Arithmetic
  * Comparison
  * Logical
  * Assignment

#Syntax
The set of rules that define how to structure a programming language's symbols, punctuation, and words.

#Semantics
The study of the meaning of a programming language and the processes a computer follows to execute a program.

#Comments in Python
Comments are the non executable part of the code which increase the readability.

**2 types:**


1. Single line comment
```
# This is a single line comment
```
2. Multi line comment
```
# This is a multi line comment
# This is a multi line comment
# This is a multi line comment
```

#Basic syntax and semantics rules in Python

1. Case sensitivity : Upper case and lower case characters are treadted differently

In [ ]:
# Example program to show case sensitivity in Python by naming 2 variables
x = 10 # Variable named as lower case
X = 20 # Variable named as upper case
# Printing both variables
print(x)
print(X)

10
20

2. Indentation : Python uses indentation to define blocks of code (Unlike C, C++ or Java where curly braces are used). Consistent use of tab or 4 spaces is required.

In [ ]:
# Example program to show indentation in Python by implementing if-else
age = int(input("Enter age of voter: "))
if(age>=18):
  print("You are eligible to vote") # Indentation
else:
  print("You are not eligible to vote") # Indentation

Enter age of voter: 20
You are eligible to vote

3. Line continuation : Python allows us to continue long expressions to the next with the help of backslash (\)

In [ ]:
# Example program to show implementation of line continuation
total = 1 + 2 + 3 + \
        4 + 5 + 6 + \
        7 + 8 + 9
print(total)

45

4. Multiple statements can be declared on a single line by separating them with semi colon (;).

In [ ]:
# Example program to show multiple statements on a single line
num1 = 10; num2 = 20; res = num1 + num2
print(res)

30

5. Variable assignment : Since Python is a dynamically typed language, there is no need to declare the type of variable before using it, the type is infered by the compiler at run time.

In [ ]:
# Example program to show type inference in Python
# Using variables without declaring their type
name = "Chaitanya"
print(name)
print(type(name))

age = 20
print(age)
print(type(age))

height = 5.6
print(height)
print(type(height))

is_student = True
print(is_student)
print(type(is_student))

Chaitanya
<class 'str'>
20
<class 'int'>
5.6
<class 'float'>
True
<class 'bool'>

#Variables
Variables are fundamental elements in programming used to store data that can be referenced and manipulated in a program.

In Python, variables are created when you assign a value to them, and they do not need explicit declaration to reserve memory space.

The declaration happens automatically when you assign a value to a variable.

In [ ]:
# Defining variables = Declaration + Assignment
age = 20
height = 5.6
name = "Chaitanya"
is_student = True

# Printing variables
print("Age: ",age)
print("Height: ",height)
print("Name: ",name)
print("Is student: ",is_student)

Age:  20
Height:  5.6
Name:  Chaitanya
Is student:  True

#Naming conventions of variables
1. Name of variable must be meaningful
2. They must only start with an alphabet or an underscore (_) and it can contain alphabets and numbers but not special symbols (except underscore)
3. They are case sensitive
4. It must not be a keyword

In [ ]:
# Valid variable name
first_name = "Chaitanya"

In [ ]:
# Valid variable name
_first_name = "Chaitanya"

In [ ]:
# Valid variable name
num_1 = 10
num_2 = 20

In [ ]:
# Invalid variable name
# It must not start with number
1st_num = 10
2nd_num = 20

SyntaxError: invalid decimal literal (<ipython-input-17-d60f9e119605>, line 2)

In [ ]:
# Invalid variable name
# It must not contain a special symbol other than underscore
first@name = "Chaitanya"

SyntaxError: cannot assign to expression here. Maybe you meant '==' instead of '='? (<ipython-input-18-5d561c9c5cff>, line 3)

In [ ]:
# Invalid variable name
# It must not be a keyword
for = 10

SyntaxError: invalid syntax (<ipython-input-19-985096d1069e>, line 3)

#Type checking
type() function is used to check the type of variable

In [ ]:
# Example program to show implementation of type() function
age = 20
print(type(age))

height = 5.6
print(type(height))

name = "Chaitanya"
print(type(name))

is_student = True
print(type(is_student))

<class 'int'>
<class 'float'>
<class 'str'>
<class 'bool'>

#Type conversion
The casting operator () is used to convert the variable from one type to another

In [ ]:
# Example program to show type conversion from int to str
age_int = 20
print(age_int)
print(type(age_int))

age_str = str(age_int) # Type conversion from int to str
print(age_str)
print(type(age_str))

20
<class 'int'>
20
<class 'str'>

In [ ]:
# Example program to show type conversion from str to int (Where a sequence of numbers is stored as string)
var_str = "12345"
print(var_str)
print(type(var_str))

var_int = int(var_str) # Type conversion from str to int
print(var_int)
print(type(var_int))

12345
<class 'str'>
12345
<class 'int'>

In [ ]:
# Example program to show type conversion from str to int (Where a sequence of characters is stored as string)
var_str = "Chaitanya"
print(var_str)
print(type(var_str))

var_int = int(var_str) # Type conversion from str to int
print(var_int)
print(type(var_int))

Chaitanya
<class 'str'>

ValueError: invalid literal for int() with base 10: 'Chaitanya'

In [ ]:
# Type conversion from float to int
height_float = 5.6
print(height_float)
print(type(height_float))

height_int = int(height_float) # Type conversion from float to int
print(height_int)
print(type(height_int))

5.6
<class 'float'>
5
<class 'int'>

In [ ]:
# Type conversion from int to float
age_int = 20
print(age_int)
print(type(age_int))

age_float = float(age_int) # Type conversion from int to float
print(age_float)
print(type(age_float))

20
<class 'int'>
20.0
<class 'float'>

#Dynamic typing
Python allows the type of variable to change as the program executes.

Same variable can be used multiple times with different types.

In [ ]:
var = 10 # int
print(var)
print(type(var))

var = "hello" # str
print(var)
print(type(var))

var = 1.234 # float
print(var)
print(type(var))

var = True # bool
print(var)
print(type(var))

10
<class 'int'>
hello
<class 'str'>
1.234
<class 'float'>
True
<class 'bool'>

#Data type
**Definition:**

Data types are a classification of data which tell the compiler or interpreter how the programmer intends to use the data.

They determine the type of operations that can be performed of the data, the values that the data can take and the amount of memory needed to store the data.

**Importance:**

* Ensure that the data is tored in an efficient way
* They help in performing correct operations on data
* Proper use of data types can prevent errors and bugs in the program

**Types:**
1. Integer
2. Floating point
3. String
4. Boolean

In [ ]:
# Example program to show implementation of different data types in Python

# Integer
age = 20
print(age)
print(type(age))

# Floating point
height = 5.6
print(height)
print(type(height))

# String
name = "Chaitanya"
print(name)
print(type(name))

# Boolean
is_student = True
print(is_student)
print(type(is_student))

20
<class 'int'>
5.6
<class 'float'>
Chaitanya
<class 'str'>
True
<class 'bool'>

#Input
input() function is used to take input from the user. The default type to take input is str. To take the input of other data types, type conversion is used.

In [ ]:
# Example program to take input from user
name = input("Enter name: ")
age = int(input("Enter age: "))
height = float(input("Enter height: "))
is_student = bool(input("Enter is student: "))

# Printing the inputs
print("Name: ",name)
print("Age: ",age)
print("Height: ",height)
print("Is student: ",is_student)

Enter name: Chaitanya
Enter age: 20
Enter height: 5.6
Enter is student: True
Name:  Chaitanya
Age:  20
Height:  5.6
Is student:  True

#Operators
Operators are special symbols that are used to perform different types of operations on operands
**Types:**
1. Arithmetic
  * Addition
  * Subtraction
  * Multiplication
  * Division
  * Floor division
  * Modulus
  * Exponentiation
2. Comparison
  * Equal to
  * Not equal to
  * Greater than
  * Less than
  * Greater than or equal to
  * Less than or equal to
3. Logical
  * AND
  * OR
  * NOT
4. Assignment

#Arithmetic operators
They are used to perform different types of mathematical operations on two operands

In [ ]:
# Example program to implement arithmetic operators
a = 10
b = 15

# Addition
sum = a + b
print("Sum: ",sum)

# Subtraction
diff = a - b
print("Difference: ",diff)

# Multiplication
pro = a * b
print("Product: ",pro)

# Division
quo = a / b
print("Quotient: ",quo)

# Floor division
quo_floor = a // b
print("Floor quotient: ",quo_floor)

# Modulus
rem = a % b
print("Remainder: ",rem)

# Exponentiation
exp = a ** b
print("Exponent: ",exp)

Sum:  25
Difference:  -5
Product:  150
Quotient:  0.6666666666666666
Floor quotient:  0
Remainder:  10
Exponent:  1000000000000000

**Difference between division and floor division:**

Division:
```
21 / 5 = 4.2 -----> Decimal no.
```
Floor division:


```
21 // 5 = 4 -----> Whole no.
```

#Comparison operators
They are used to compare the value of two or more variables and return the result as either True (1) or False (0) only

In [ ]:
# Example program to implement comparison operators
a = 10
b = 15

# Equal to
print(a==b)

# Not equal to
print(a!=b)

# Greater than
print(a>b)

# Less than
print(a<b)

# Greater than or equal to
print(a>=b)

# Less than or equal to
print(a<=b)

False
True
False
True
False
True

#Logical operators
**and:** Returns True if both the statements are True

**or:** Returns True if any one of the statements is True

**not:** Reverses True to False and False to True

In [ ]:
# Example program to implement logical operators
# AND
a = True
b = True
c = False
print(a and b) # True
print(b and c) # False

# OR
a = True
b = True
c = False
print(a or b) # True
print(b or c) # False

# NOT
a = True
print(not a) # False
b = False
print(not b) # True

True
False
True
True
False
True

#Assignment operators

In [ ]:
# Example program to implement assignment operators
a = 10 # Value 10 is assigned to variable a
print(a) # 10

a = 10
a += 2 # a = a + 2
print(a) # 12

a = 10
a -= 2 # a = a - 2
print(a) # 8

a = 10
a *= 2 # a = a * 2
print(a) # 20

a = 10
a /= 2 # a = a / 2
print(a) # 5.0

a = 10
a //= 2 # a = a // 2
print(a) # 5

a = 10
a %= 2 # a = a % 2
print(a) # 0

a = 10
a **= 2 # a = a ** 2
print(a) # 100

10
12
8
20
5.0
5
0
100