#PYTHON CONTROL FLOW
1. Coditional statements
  * if
  * if else
  * if elif else
  * Nested conditional statements
  * Practical examples
2. Loops
  * for loop
  * while loop
  * break statement
  * continue statement
  * pass statement
  * Nested loops
  * Practical examples

#if statement


```
if(condition):
  # Statement to be executed if the condition is True
Normal flow of execution
```

In [ ]:
# Example program to implement if statement
age = int(input("Enter your age: "))
if age >= 18:
  print("You are eligible to vote")

Enter your age: 20
You are eligible to vote

#if else statement


```
if(condition):
  # Statement to be executed if the condition is True
else:
  # Statement to be executed if the condition is False
Normal flow of execution
```

In [ ]:
# Example program to implement if else statement
age = int(input("Enter your age: "))
if age >= 18:
  print("You are eligible to vote")
else:
  print("You are not eligible to vote")

Enter your age: 16
You are not eligible to vote

#if elif else statement


```
if(condition 1):
  # Statement to be executed if condition 1 is True
elif(condition 2):
  # Statement to be executed if condition 2 is True
elif(condition 3):
  # Statement to be executed if condition 3 is True
  .
  .
  .
  .
  .
elif(condition n):
  # Statement to be executed if condition n is True
else:
  # Statement to be executed if all conditions are False
```

In [ ]:
# Example program to implement if elif else statement
marks = int(input("Enter your marks: "))
if marks >= 90:
    print("Grade: A")
elif marks >= 80:
    print("Grade: B")
elif marks >= 70:
    print("Grade: C")
elif marks >= 60:
    print("Grade: D")
else:
    print("Grade: F")

Enter your marks: 84
Grade: B

#Nested conditional statements


```
if(condition 1):
  if(condition 2):
    # Statement to be executed if condition 1 is True and condition 2 is True
  else:
    # Statement to be executed if condition 1 is True and condition 2 is False
else:
  if(condition 3):
    # Statement to be executed if condition 1 is False and condition 3 is True
  else:
    # Statement to be executed if condition 1 is False and condition 3 is False
```

In [ ]:
# Example program to show implementation of nested conditional statements
age = int(input("Enter your age: "))
if age >= 18:
  if age >= 21:
    print("You are eligible to vote and drive")
  else:
    print("You are eligible to vote but not to drive")

else:
  if age >= 13:
    print("You are eligible to drive but not to vote")
  else:
    print("You are not eligible to vote or drive")

Enter your age: 24
You are eligible to vote and drive

#Practical examples of conditional statements

In [2]:
# Determine whether a year is leap year or not
year = int(input("Enter a year:"))
if year%4==0:
  if year%100==0:
    if year%400==0:
      print(year,"is a leap year")
    else:
      print(year,"is not a leap year")
  else:
    print(year,"is a leap year")
else:
  print(year,"is not a leap year")

Enter a year:1996
1996  is a leap year

In [4]:
# Simple calculator
num1 = int(input("Enter first no.: "))
num2 = int(input("Enter second no.: "))
print("1. Addition")
print("2. Subtraction")
print("3. Multiplication")
print("4. Division")
print("5. Modulus")
print("6. Exponentiation")
choice = int(input("Enter your choice: "))
if(choice==1):
  print("Addition of",num1,"and",num2,"is",num1+num2)
elif(choice==2):
  print("Subtraction of",num1,"and",num2,"is",num1-num2)
elif(choice==3):
  print("Multiplication of",num1,"and",num2,"is",num1*num2)
elif(choice==4):
  print("Division of",num1,"and",num2,"is",num1/num2)
elif(choice==5):
  print("Modulus of",num1,"and",num2,"is",num1%num2)
elif(choice==6):
  print("Exponentiation of",num1,"and",num2,"is",num1**num2)
else:
  print("Invalid choice")

Enter first no.: 30
Enter second no.: 20
1. Addition
2. Subtraction
3. Multiplication
4. Division
5. Modulus
6. Exponentiation
Enter your choice: 4
Division of 30 and 20 is 1.5

#for loop


```
for (i in range(n)):
  # Statment to be executed n times
```

In [10]:
# Example program to implement for loop using range()
# range(n) : 0 to n-1
for i in range(5):
  print(i)
print("***")
# range(start,end) : start to end-1
for i in range(1,5):
  print(i)
print("***")
# range(start,end,step) : start to end-1 with step
for i in range(1,10,2):
  print(i) # Increasing
print("***")
for i in range(10,1,-2):
  print(i) # Decreasing

0
1
2
3
4
***
1
2
3
4
***
1
3
5
7
9
***
10
8
6
4
2

In [12]:
# Example program to showing traversing in string using for loop
str = "Hello World!"
for i in str:
  print(i)

H
e
l
l
o

W
o
r
l
d
!

#while loop


```
initializarion
while(condition):
  # Statement to be executed as long as the condition is True
  updation
Normal flow of the program
```

In [13]:
# Example program to show implementation of while loop
i = 1 # initialization
while(i<=5): # condition
  print(i)
  i +=1 # updation

1
2
3
4
5

#break statement
The break statement exits the loop prematurely.

In [14]:
# Example program to show implementation of break statement
for i in range(10):
  if i==5:
    break
  print(i)

0
1
2
3
4

#continue statement
The continue statement skips the current iteration and continues the execution of further iterations

In [15]:
# Example program to show implementation of continue statement
for i in range(10):
  if i==5:
    continue
  print(i)

0
1
2
3
4
6
7
8
9

In [16]:
# Using continue statement to print odd numbers
for i in range(10):
  if i%2==0:
    continue
  print(i)

1
3
5
7
9

#pass statement
The pass statement is a null operation, it does nothing

In [18]:
# Example program to show implementation of pass statement
for i in range(5):
  if i==5:
    pass
  print(i)

0
1
2
3
4

#Nested loops

In [19]:
# Example program to implement nested loops
for i in range(3):
  for j in range(3):
    print(f"i={i}, j={j}")

i=0, j=0
i=0, j=1
i=0, j=2
i=1, j=0
i=1, j=1
i=1, j=2
i=2, j=0
i=2, j=1
i=2, j=2

#Practical examples of loops

In [21]:
# Calculate the sum of first n natural numbers using a for loop and while loop
# for loop
n = int(input("Enter a no.: "))
sum = 0
for i in range(1,n+1):
  sum = sum + i
print(sum)
# while loop
n = int(input("Enter a no.: "))
sum = 0
i = 1
while(i<=n):
  sum = sum + i
  i += 1
print(sum)

Enter a no.: 10
55
Enter a no.: 10
55